:root {
  --print-font: Klee One;
  --menu-bar-color: #f0dee5;
  --secondary-color: #792344;
}

body {
  background: white;
}

h1 {
  font-family: WindSong;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  color: var(--secondary-color);
}

h3 {
  font-family: WindSong;
  color: var(--secondary-color);
  margin-right: 25px;
  margin-left: 10px;
}

h4 {
  font-family: var(--print-font);
  text-align: center;
  padding-top: 40px;
  color: var(--secondary-color);
}

li {
  font-family: var(--print-font);
  font-size: 12px;
}

p {
  font-family: var(--print-font);
  font-size: 15px;
  color: #000;
}

h6 {
  font-family: var(--print-font);
  font-size: 15px;
  color: #000;
  text-align: center;
}

img {
  padding: 20px;
  max-width: 50%;
  border: 2px solid;
  border-radius: 4px;
}

.footer {
  font-family: var(--print-font);
  font-size: 10px;
}

.github-link {
  font-family: var(--print-font);
  font-size: 10px;
  text-align: center;
}

.nav-bar {
  background: var(--menu-bar-color);
  padding-top: 30px;
}

.hero {
  color: var(--menu-bar-color);
}

.nav-link {
  color: var(--secondary-color);
}

#button {
  background-color: var(--secondary-color);
  color: var(--menu-bar-color);
  text-decoration: none;
  font-family: var(--print-font);
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
}

#meet-me {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: left;
}

#introduction {
  font-family: var(--print-font);
  text-align: left;
  padding-top: 10px;
  color: var(--secondary-color);
}

#menu-links {
  color: var(--secondary-color);
}

@media (max-width: 578px) {
  h1 {
    font-size: 30px;
  }
  img {
    border: 1px solid rgb(184, 181, 181);
    padding: 10px;
  }
}
